.parent-layout {
    display: flex;
    flex-direction: row;
}
.toolbar {
    background-color: white;
    border-bottom: 2px solid #ecedf0;
    height: 30px;
    width: 100hw;
}

.sidebar {
    width: 50px;
    height: 100vh;
    background-color: #f7f8f9;
    border-right: 2px solid #ecedf0;
}