<div id="userAddModal" class="add-modal-outside" (click)="closeWindow()" >
    <div class="add-modal-v1" (click)="$event.stopPropagation()">
        <div class="add-modal-text">
            {{user.userName ? 'Edit User: ': 'Add New User'}}
        </div>

        <div class="search-container">
            <input
                class="input-field-large"
                name="name"
                [(ngModel)]="user.userName"
                placeholder="Enter User Name"
            />
            <input
                class="input-field-large"
                name="email"
                [(ngModel)]="user.email"
                placeholder="Enter User Email"
            />
            <div class="button" (click)="user.id ? updateUser() : createUser()">{{user.id ? 'Edit' : 'Add'}}</div>
        </div>
    </div>
</div>
