<div id="userAddModal" class="add-modal-outside" (click)="closeWindow()" >
    <div class="add-modal-v1" (click)="$event.stopPropagation()">
        <div class="modal-close-box">
            <div class="modal-close-button">
                
            </div>
        </div>

        <div class="add-modal-text font-size-16">
            {{user.name ? 'Edit User: ': 'Add New User'}}
        </div>

        <div class="search-container">
            <input
                class="input-field-large"
                name="name"
                [(ngModel)]="user.name"
                placeholder="Enter User Name"
            />
            <input
                class="input-field-large"
                name="email"
                [(ngModel)]="user.email"
                placeholder="Enter User Email"
            />
            <div class="button" (click)="createUser()">Add</div>
        </div>
    </div>
</div>
