<div id="userAddModal" class="add-modal-outside" (click)="closeWindow()" >
    <div class="add-modal-v1" (click)="$event.stopPropagation()">
        <div class="add-modal-text">
            {{user.userName ? 'Edit User: ': 'Add New User'}}
        </div>

        <div class="search-container">
            <input
                class="input-field-large"
                name="name"
                [(ngModel)]="user.userName"
                placeholder="Enter User Name"
            />
            <input
                class="input-field-large"
                name="email"
                [(ngModel)]="user.email"
                placeholder="Enter User Email"
            />
            <mat-form-field class="custom-form-field" appearance="outline" fxFlex="100">
                <mat-select placeholder="User Role" name="userRole" [(ngModel)]="user.userRole">
                    <mat-option *ngFor="let priority of userRoles" [value]="priority.value">
                        {{priority.title}}
                    </mat-option>
                </mat-select>
                <mat-error>Year is required!</mat-error>
            </mat-form-field>
            <div class="button" (click)="user.id ? updateUser() : createUser()">{{user.id ? 'Edit' : 'Add'}}</div>
        </div>
    </div>
</div>
