<div id="taskAddModal" class="add-modal-outside" (click)="closeOrganizationWindow()" >
    <div class="add-modal-v1" (click)="$event.stopPropagation()">
        <div class="modal-close-box">
            <div class="modal-close-button">
                
            </div>
        </div>

        <div class="add-modal-text font-size-16">
            {{task.name ? 'Edit Task: ': 'Add Task'}}
        </div>

        <div class="search-container">
            <input
                class="input-field-large"
                name="taskName"
                [(ngModel)]="task.name"
                placeholder="Enter Task Name"
            />
            <input
                class="input-field-large"
                name="description"
                [(ngModel)]="task.description"
                placeholder="Enter Description"
            />
            <mat-form-field class="custom-form-field" appearance="outline" fxFlex="100">
                <mat-select placeholder="AssignedTo" name="AssignedList" [(ngModel)]="task.assignedTo" multiple>
                    <mat-option *ngFor="let user of users" [value]="user">
                        {{user.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Year is required!</mat-error>
            </mat-form-field>

            <mat-form-field class="custom-form-field" appearance="outline" fxFlex="100">
                <mat-select placeholder="Status" name="status" [(ngModel)]="task.status">
                    <mat-option *ngFor="let status of statusList" [value]="status.value">
                        {{status.title}}
                    </mat-option>
                </mat-select>
                <mat-error>Year is required!</mat-error>
            </mat-form-field>

            <div class="button" (click)="createOrganization()">Add</div>
        </div>
    </div>
</div>
