<div *ngIf="showToolbar" class="layout-parent">
    <div class="sidebar">
        <div class="sidebar-header"></div>
        @for (item of navigations; track item) {
            <div class="children" [ngClass]="item.id == menuId ? 'children-bg' : null">
                <div>
                    <a [routerLink]="[ item.url ]">{{item.name}}</a>
                </div>
            </div>
            }
    </div>
    <div>
        <div class="toolbar"></div>
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="showToolbar == false">
    <router-outlet></router-outlet>
</div>
