<div *ngIf="showToolbar" class="layout-parent">
    <div class="sidebar">
        <div class="sidebar-header"></div>
        <div class="children">Dashboard</div>
        <div class="children">
            <div>
                <a [routerLink]="[ '/organizations' ]">Organizations</a>
            </div>
        </div>
        <div class="children">
            <div>
                <a [routerLink]="[ '/tasks' ]">Tasks</a>
            </div>
        </div>
        <div class="children">Users</div>
    </div>
    <div>
        <div class="toolbar"></div>
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="showToolbar == false">
    <router-outlet></router-outlet>
</div>
