<div *ngIf="showToolbar" class="layout-parent">
    <div class="sidebar">
        <div class="sidebar-header"></div>
        <div class="children">Dashboard</div>
        <div class="children">
            <div>Organizations</div>
            <div (click)="openOrganizationManageModal(); $event.stopPropagation()" class="icon">&#x002B;</div>
        </div>
        <div class="children">Users</div>
    </div>
    <div>
        <div class="toolbar"></div>
        <router-outlet></router-outlet>
    </div>
</div>

<organization-manage [shouldAddWindowOpen]="shouldOrgAddWindowOpen"></organization-manage>

<div *ngIf="showToolbar == false">
    <router-outlet></router-outlet>
</div>
