<div class="parent">
    <div class="container">
        <mat-form-field appearance="outline">
            <mat-select placeholder="Completed?" (selectionChange)="filterTasks($event)">
                <mat-option [value]="null">All</mat-option>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button [routerLink]="[ '/add-task']" color="primary" style="margin-left: 10px;">Add Task</button>
    </div>
    <div class="task-item-list header">
        <div>Task Name</div>
        <div>Completed?</div>
        <div></div>
    </div>
    @for (item of tasks; track item) {
        <task-item [task]="item" (updateStatus)="updateTask(item)" (deleteTask)="deleteTask(item.id)"></task-item>
        }
       @empty {
        <div class="task-item-list child">
            <div>No task available!</div>
        </div>
       }
</div>

