<div class="parent">
    <div class="container">
        <button [routerLink]="[ '/add-task']" class="button">Add Task</button>
    </div>
    <div class="task-item-list header">
        <div>Task Name</div>
        <div>Completed?</div>
        <div>Delete</div>
    </div>
    @for (item of tasks; track item) {
        <task-item [task]="item" (updateStatus)="updateTask(item)"></task-item>
        }
       @empty {
        <div class="task-item-list child">
            <div>No task available!</div>
        </div>
       }
</div>

