<div class="task-item-list child">
    <div>{{ task.name }}</div>
    <div style="padding-left: 60px;"><input class="checkbox" type="checkbox" [checked]="task.completed" (change)="changeStatus()"></div>
    <div>
        <div [matMenuTriggerFor]="menu">
            <button color="primary" mat-raised-button>Actions</button>
        </div>
        <mat-menu #menu="matMenu">
        <button  (click)="removeTask()" mat-menu-item>
            <span>Delete</span>
        </button>
        <a [routerLink]="[ '/', task.id]">
            <button mat-menu-item>
                <span>Edit</span>
            </button>
        </a>
        </mat-menu>
    </div>
</div>