/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
* {
  font-family: Lato, Inter, Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif !important;
}

.parent {
  padding: 15px;

  .page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .input-field {
    width: 90%;
    height: 40px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 2px solid whitesmoke;
  }

  .input-field-title {
    font-size: 12px;
  }

  .button {
    width: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
  }
}
