<div class="parent">
    <div class="login-container">
      <div class="org-title">{{ displayText }}{{cursor}}</div>
      <div class="login-card">
        <div class="title mb-4">Sign Up</div>
        <form
          name="loginForm"
          [formGroup]="loginForm"
          novalidate
          fxLayout="column"
        >
          <div class="input-field-title">User Name</div>
          <div>
            <input
              [ngStyle]="{ width: '100%' }"
              class="input-field"
              name="userName"
              placeholder="Enter User Name"
              matInput
              formControlName="userName"
            />
          </div>
          <div class="input-field-title">Email</div>
          <div>
            <input
              [ngStyle]="{ width: '100%' }"
              class="input-field"
              name="email"
              placeholder="Enter Email"
              matInput
              formControlName="email"
            />
          </div>
          <div class="input-field-title">Password</div>
          <div>
            <input
              [ngStyle]="{ width: '100%' }"
              class="input-field"
              name="password"
              type="password"
              placeholder="Enter Password"
              matInput
              formControlName="password"
            />
          </div>
          <a [routerLink]="['/login']" class="open-account-text">
            Already have an account? Log In!
          </a>
          <button [ngStyle]="{ width: '100%' }" [disabled]="loginForm.invalid" class="mt-4" mat-raised-button color="primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  