<div class="parent">
    <div class="header-container" >
        <div class="filter-icon-container" (click)="getUser(null)">
            <div class="icon-filter-settings">&#43;</div>
        </div>
    </div>
    <div style="overflow-x: auto; width: 100%">
        <table class="data-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    @for (item of users; track item) {
                        <tr>
                            <td class="text-center">{{item.userName}}</td>
                            <td class="text-center">{{item.email}}</td>
                            <td class="text-center">
                                <button mat-flat-button color="accent" [matMenuTriggerFor]="menu">Actions</button>
                            <mat-menu #menu="matMenu">
                                <button mat-flat-button (click)="getUser(item)">Edit</button>
                            </mat-menu>
                            </td>
                        </tr>
                        }
                </tbody>
        </table>
    </div>
    <user-manage
    [shouldOpenManageWindow]="openManageWindow"
    [user]="user"></user-manage>
</div>
