<div class="parent">
    <div class="header-container" >
        <div class="filter-icon-container" (click)="getOrganization(null)">
            <div class="icon-filter-settings">&#43;</div>
        </div>
    </div>
    <div style="overflow-x: auto; width: 100%">
        <table class="data-table" cellspacing="0">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Product</th>
                    <th class="text-right">Count</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    @for (item of organizations; track item) {
                        <tr>
                            <td class="text-center"></td>
                            <td>
                                
                            </td>
                            <td class="text-right">
                                
                            </td>
                            <td class="text-center">
                                
                            </td>
                        </tr>
                        }
                </tbody>
        </table>
    </div>
    <organization-manage
    [shouldOpenManageWindow]="openOrganizationManageWindow"
    [organization]="organization"></organization-manage>
</div>
