<div class="parent">
    <div class="header-container" >
        <div class="filter-icon-container" (click)="getOrganization(null)">
            <div class="icon-filter-settings">&#43;</div>
        </div>
    </div>
    <div style="overflow-x: auto; width: 100%">
        <table class="data-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    @for (item of organizations; track item) {
                        <tr>
                            <td class="text-center">{{item.orgName}}</td>
                            <td class="text-center">{{item.phoneNumber}}</td>
                            <td class="text-center">{{item.address}}</td>
                            <td class="text-center">
                                <button mat-flat-button color="accent" [matMenuTriggerFor]="menu">Actions</button>
                            <mat-menu #menu="matMenu">
                                <button mat-flat-button (click)="getOrganization(item)">Edit</button>
                            </mat-menu>
                            </td>
                        </tr>
                        }
                </tbody>
        </table>
    </div>
    <organization-manage
    [user]="user"
    [shouldOpenManageWindow]="openOrganizationManageWindow"
    [organization]="organization"></organization-manage>
</div>
